<div class="user-details">
  <div class="header-action d-flex align-items-center justify-content-between pb-4">
    <div class="breadcrumbs">
      <h5 class="fw6">Chi tiết người dùng</h5>
      <div class="d-flex align-items-center gap-2">
        <p class="m-0 fw5 fs4"> Danh sách người dùng</p>
        <span style="font-size: 12px; color: transparent;" nz-icon nzType="ng-zorro:arrown_icon"></span>
        <p class="m-0 fw5 fs4">Chi tiết người dùng</p>
      </div>
    </div>
  </div>

  <div class="user-details">
    <div class="image-info">
      <div class="image">

      </div>
      <div class="info">

      </div>
    </div>
  </div>
</div>