.cur-pointer{
  cursor: pointer;
}

.fw5{
  font-weight: 500;
}

.fw6{
  font-weight: 600;
}

.fw7{
  font-weight: 700;
}

.fw8{
  font-weight: 800;
}

.fs2{
  font-size: 12px;
}

.fs4{
  font-size: 14px;
}

.fs6{
  font-size: 16px;
}

.fs8{
  font-size: 18px;
}

.td-custom {
  text-align: left;
  height: 58px !important;
}

.text-ghost {
  color: #828181;
  font-weight: 500;
}